@using Service.Dtos.Expert
@model List<ExpertVM>

<div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
        <div class="card-body">
            <h1> Expert </h1>
            <a asp-action="Create" style="display: inline-block; background-color: #28a745; color: white; padding: 10px 20px; text-decoration: none; border-radius: 6px; font-weight: bold;">
                Create
            </a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Job
                            </th>
                           
                            <th>
                                Oparetions
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var expert in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="@expert.Image" alt="image" />
                                </td>
                                <td>
                                    @expert.Name

                                </td>
                                <td>
                                    @expert.Job

                                </td>

                                
                                <td>
                                    <a asp-action="Detail" asp-route-id="@expert.Id" style="display:inline-block; background-color:#ffc107; color:black; padding:10px 20px; text-decoration:none; border-radius:6px; font-weight:bold;">
                                        Detail
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@expert.Id" style="display:inline-block; background-color:#ffc107; color:black; padding:10px 20px; text-decoration:none; border-radius:6px; font-weight:bold;">
                                        Edit
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@expert.Id" style="display:inline-block; background-color:#dc3545; color:white; padding:10px 20px; text-decoration:none; border-radius:6px; font-weight:bold;">
                                        Delete
                                    </a>

                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>