@using Service.Dtos.Product
@model List<ProductDto>


        <div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
        <div class="card-body">
            <h1> Product </h1>
            <a asp-action="Create" style="display: inline-block; background-color: #28a745; color: white; padding: 10px 20px; text-decoration: none; border-radius: 6px; font-weight: bold;">
                Create
            </a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Edit Date
                            </th>
                            <th>
                                Oparetions
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="@product.ImageUrl" alt="image" />
                                </td>
                                <td>
                                    @product.Name

                                </td>
                                <td>
                                    @product.Price $
                                </td>

                                <td>
                                    @product.Stock

                                </td>


                                <td>
                                    @product.CreatedDate;
                                </td>
                                <td>
                                    @product.EditDate;
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@product.Id" style="display:inline-block; background-color:#ffc107; color:black; padding:10px 20px; text-decoration:none; border-radius:6px; font-weight:bold;">
                                        Edit
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@product.Id" style="display:inline-block; background-color:#dc3545; color:white; padding:10px 20px; text-decoration:none; border-radius:6px; font-weight:bold;">
                                        Delete
                                    </a>

                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>