@using Service.Dtos.Blog
@model BlogVM
<main class="blogdetail">
    <section id="blog-detail">
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <img src="@Model.ImageUrl" alt="">
                </div>
                <div class="col-12">
                    <div class="blog-detail-info">
                        <h1>@Model.Title</h1>
                        <h2>
                            <i class="bi bi-person"></i>    <span>@Model.AppUser.FullName</span><i class="bi bi-calendar3"></i><span>
                                @(Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("MMM dd, yyyy") : "")
                            </span>
                        </h2>
                        <p>@Model.Content</p>
                        <img src="@Model.ImageUrl" alt="">
                        <div class="detail-info-warning">
                          
                        </div>
                        <p>@Model.Description</p>
                        <ul>
                            <li><a href=""><i class="bi bi-facebook"></i> Facebook</a></li>
                            <li><a href=""><i class="bi bi-twitter-x"></i> Twitter</a></li>
                            <li><a href=""><i class="bi bi-instagram"></i> instagram</a></li>
                            <li><a href=""><i class="bi bi-upload"></i> Share</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>