@using Service.Dtos.Blog
@model List<BlogVM>

<section id="home-blogs">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 blog-info">
                <div>
                    <p>OUR BLOG</p>
                </div>
                <div>
                    <div class="row">
                        <div class="col-12 col-sm-8 col-md-6">
                            <h2>News & Blog Updates</h2>
                        </div>
                        <div class="col-12 col-sm-4 col-md-6">
                            <a asp-action="index" asp-controller="blog">View All</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                    @foreach (var blog in Model ?? [])
                    {
                        <div class="col blog-card">
                            <div class="blogs-header">
                                <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">
                                    <img src="@blog.ImageUrl" alt="" />
                                </a>
                            </div>
                            <div class="blogs-title">
                                <div class="blog-title-meta">
                                    <a href="#">
                                        <span class="meta-name"><i class="bi bi-person"></i> @blog.AppUser.FullName</span>
                                        <span class="meta-date">
                                            , <i class="bi bi-calendar3"></i>
                                            <span class="meta-date_info">
                                                @(blog.CreatedDate.HasValue ? blog.CreatedDate.Value.ToString("MMM dd, yyyy") : "")
                                            </span>
                                        </span>

                                    </a>
                                </div>
                                <h3><a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">@blog.Title</a></h3>
                            </div>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</section>