@using Final_Backend_Project.ViewModelsUI
@model ShopVM
<main class="shop">
    <section id="shop-product">
        <div class="shop-product-submenu hidden">
            <div class="submenu-head">
                <h2>Filter and sort</h2>
                <p><span>8</span> of <span>12</span> products</p>
                <button onclick="hiddenbtn()"><i class="bi bi-x-lg"></i></button>
            </div>
            <div class="submenu-body">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header ">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Price
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse ">
                            <div class="accordion-body price-accordion">
                                <div class="price-filter-input">
                                    <label for="priceFrom">From</label>
                                    <input type="number" id="priceFrom" min="0" step="0.01" />
                                </div>
                                <div class="price-filter-divider">
                                    <span>-</span>
                                </div>
                                <div class="price-filter-input">
                                    <label for="priceTo">To</label>
                                    <input type="number" id="priceTo" min="0" step="0.01" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Category
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse">
                            <div class="accordion-body">

                            
                         

                            </div>
                        </div>
                    </div>
                </div>
                <div class="submenu-sort-menu">
                    <label>Sort by:</label>
                    <form method="get" id="sortForm">
                        <select class="select-forms" name="sort" onchange="document.getElementById('sortForm').submit()">


                            <option value="az" selected="@(Model.Sort == "az")">A-Z</option>
                            <option value="za" selected="@(Model.Sort == "za")">Z-A</option>
                            <option value="priceLowHigh" selected="@(Model.Sort == "priceLowHigh")">Price, low to high</option>
                            <option value="priceHighLow" selected="@(Model.Sort == "priceHighLow")">Price, high to low</option>

                        </select>

                        <input type="hidden" name="search" value="@Model.Search" />
                        <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                        <input type="hidden" name="page" value="1" />
                    </form>

                </div>

            </div>
            <div class="submenu-footer">
                <button class="remove-all-btn">Remove all</button>
                <button class="applay">Applay</button>
            </div>
        </div>
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 d-flex mb-3">
                            <div class="shop-product-item-filter">
                                <button onclick="showbtn()"><i class="bi bi-sliders"></i> Filter and sort</button>
                            </div>
                            <div class="shop-product-shorter">
                                <label>Sort by:</label>
                                <form method="get" id="sortForm">
                                    <select class="select-forms" name="sort" onchange="document.getElementById('sortForm').submit()">


                                        <option value="az" selected="@(Model.Sort == "az")">A-Z</option>
                                        <option value="za" selected="@(Model.Sort == "za")">Z-A</option>
                                        <option value="priceLowHigh" selected="@(Model.Sort == "priceLowHigh")">Price, low to high</option>
                                        <option value="priceHighLow" selected="@(Model.Sort == "priceHighLow")">Price, high to low</option>

                                    </select>

                                    <input type="hidden" name="search" value="@Model.Search" />
                                    <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                                    <input type="hidden" name="page" value="1" />
                                </form>

                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <form method="get" asp-controller="Shop" asp-action="Index" class="mb-4">
                                <div class="border p-3 rounded">
                                    <h5 class="mb-3">Filter</h5>

                                    <!-- Multi-Category -->
                                    <div class="mb-3">
                                        <label class="d-block">Price Range</label>
                                        <div class="d-flex gap-2">
                                            <input type="number" name="priceFrom" class="form-control" placeholder="Min" value="@Model.PriceFrom" />
                                            <input type="number" name="priceTo" class="form-control" placeholder="Max" value="@Model.PriceTo" />
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="d-block">Categories</label>
                                        @foreach (var cat in Model.Categories)
                                        {
                                            <div>
                                                <input class="form-check-input" type="checkbox"
                                                       name="categoryIds"
                                                       value="@cat.Id"
                                                       id="cat_@cat.Id"
                                                @(Model.CategoryIds != null && Model.CategoryIds.Contains(cat.Id) ? "checked" : "") />
                                                <label class="form-check-label" for="cat_@cat.Id">
                                                    @cat.Name
                                                </label>
                                            </div>
                                        }

                                    </div>

                                    <!-- Price Range -->
                                    <button type="submit" class="btn btn-primary" style="background-color : purple" >Apply</button>
                                    <a href="/Shop/Index" class="btn btn-outline-secondary">Reset</a>
                                </div>
                            </form>


                            <div class="shop-product-items">
                                <div class="container-xl">
                                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 g-4">

                                        @foreach (var product in Model.Products.Datas)
                                        {
                                            <div class="col">
                                                <div class="card">
                                                    <a asp-action="detail" asp-controller="shop" asp-route-id="@product.Id"><img src="@product.ImageUrl" class="card-img-top" alt="..."></a>

                                                    <div class="cart-shortcut">
                                                        <ul>
                                                            <li>
                                                                <button class="add-to-wishlist" data-product-id="@product.Id">
                                                                    <i class="bi bi-heart"></i>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button><i class="bi bi-eye"></i></button>
                                                            </li>
                                                            <li>
                                                                <button class="add-to-basket" data-product-id="@product.Id">
                                                                    <i class="bi bi-basket2-fill"></i>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="card-body">

                                                        <h5 class="card-title">@product.Name</h5>
                                                        <p class="card-text">@product.Price</p>
                                                    </div>
                                                </div>
                                            </div>


                                        }

                                    </div>
                                    <div class="col-12">
                                        <div class="shop-pagination">
                                            <div aria-label="Page navigation">
                                                <ul class="pagination custom-pagination">
                                                    @* Previous Button *@
                                                    <li class="page-item @(Model.Products.HasPrevious ? "" : "disabled")">
                                                        <a class="page-link" href="@Url.Action("Index", new {
                    page = Model.Products.CurrentPage - 1,
                    search = Model.Search,
                    sort = Model.Sort,
                    priceFrom = Model.PriceFrom,
                    priceTo = Model.PriceTo,
                    categoryIds = Model.CategoryIds
                })">Prev</a>
                                                    </li>

                                                    @* Page Numbers *@
                                                    @for (int i = 1; i <= Model.Products.TotalPage; i++)
                                                    {
                                                        <li class="page-item @(i == Model.Products.CurrentPage ? "active" : "")">
                                                            <a class="page-link" href="@Url.Action("Index", new {
                        page = i,
                        search = Model.Search,
                        sort = Model.Sort,
                        priceFrom = Model.PriceFrom,
                        priceTo = Model.PriceTo,
                        categoryIds = Model.CategoryIds
                    })">@i</a>
                                                        </li>
                                                    }

                                                    @* Next Button *@
                                                    <li class="page-item @(Model.Products.HasNext ? "" : "disabled")">
                                                        <a class="page-link" href="@Url.Action("Index", new {
                    page = Model.Products.CurrentPage + 1,
                    search = Model.Search,
                    sort = Model.Sort,
                    priceFrom = Model.PriceFrom,
                    priceTo = Model.PriceTo,
                    categoryIds = Model.CategoryIds
                })">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
